<!DOCTYPE html>
<html ng-app="darkSky">
<head>
  <title>WindTracker</title>
  <base href="/">
  <link rel="icon" href="/images/wind.png">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2I_R7qhHCJQJUCwv9Mph8mZi3aDdJLGc"></script>
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="WeatherShowCtrl as weatherShow">
  <header>
    <h1>WindTracker</h1>
    <div class="info" ng-if="!weatherShow.position.lat">
      <p>Click anywhere to start windtracking!</p>
    </div>
    <div class="info" ng-if="weatherShow.position.lat">
      <p>Lat: {{weatherShow.position.lat}}</p>
      <p>Lng: {{weatherShow.position.lng}}</p>
      <p>Wind speed: {{weatherShow.windSpeed}}m/s</p>
      <p>Bearing: {{weatherShow.bearing}}&deg;</p>
    </div>
  </header>
  <google-map center="weatherShow.center" position="weatherShow.position"></google-map>
</body>
</html>
